* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: transparent;
	color: #5e81ac;
}

#workspaces button {
	padding: 0 2px;
	color: #5e81ac;
}
#workspaces button.focused {
	color: #2e3440;
    background: #5e81ac;
}
#workspaces button.focused:hover {
	color: #5e81ac;
    background: #2e3440;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: transparent;
	border: 1px solid #5e81ac;
}

#clock,
#pulseaudio,
#battery {
	padding: 0 10px;
}
