* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: transparent;
	color: #8fbcbb;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #2e3440;
    background: #8fbcbb
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaud
#clock,
#pulseaudio,
#battery {
	padding: 0 10px;
}
