* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: transparent;
	color: #8fbcbb;
}

#workspaces button {
	padding: 0 2px;
	color: #8fbcbb;
}
#workspaces button.focused {
	color: #2e3440;
    background: #8fbcbb
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: transparent;
	border: 1px solid #8fbcbb;
}

#pulseaud
#clock,
#pulseaudio,
#battery {
	padding: 0 10px;
}
